<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    mode="side" 
    [opened]="isMenuOpen" 
    class="sidenav" 
    (openedChange)="isMenuOpen = $event"
    [disableClose]="false">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="toggleMenu()" class="menu-btn" aria-label="Toggle menu">
        <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span class="toolbar-title">{{ title }}</span>
      <span class="spacer"></span>
      <app-theme-toggle></app-theme-toggle>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
